<!DOCTYPE html>
<!--[if IE 8 ]>    <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
    <head>
        <meta charset="{$charset}">
        <title>{$seo['title']}</title>
        <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1">
        <meta name="description" content="{$seo['description']}">
        <meta name="keywords" content="{$seo['keywords']}">
        <!-- Styles -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:400,700" type="text/css">
        <link rel="stylesheet" href="templates/{$CFG[tplname]}/style/unsemantic.css" type="text/css">
        <link rel="stylesheet" href="templates/{$CFG[tplname]}/style/responsive.css" type="text/css">
        <link rel="stylesheet" href="templates/{$CFG[tplname]}/style/font-awesome/css/font-awesome.min.css" type="text/css">
        <link rel="stylesheet" href="templates/{$CFG[tplname]}/js/juicy/css/juicy.css" type="text/css">
        <link rel="stylesheet" href="templates/{$CFG[tplname]}/js/juicy/css/themes/shoppie/style.css" type="text/css">
        <!--[if IE 7]>
        <link rel="stylesheet" href="templates/{$CFG[tplname]}/style/font-awesome/css/font-awesome-ie7.min.css">
        <![endif]-->
        <link rel="stylesheet" href="templates/{$CFG[tplname]}/style/colors/red.css" type="text/css">
        <link rel="stylesheet" href="templates/{$CFG[tplname]}/style/base.css" type="text/css">
        <link rel="stylesheet" href="templates/{$CFG[tplname]}/style/layout.css" type="text/css">
        <link rel="stylesheet" href="templates/{$CFG[tplname]}/style/pages/products-listing.css" type="text/css">
        <!-- Fav and touch icons -->
        <link rel="shortcut icon" href="favicon.ico">
        <link rel="apple-touch-icon-precomposed" sizes="120x120" href="images/ico/apple-touch-icon-precomposed.png">
        <!-- HTML5 Shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
        <script src="templates/{$CFG[tplname]}/js/html5shim.js"></script>
        <![endif]-->
    </head>
    <body class="body-background2 content-font dark-color">
    {template top}
       <section class="page-content">
           <!--  Page block  -->
           <div class="page-block page-block-top light-bg grid-container">
               <div class="breadcrumbs grid-100 middle-color">
                    {template here}
               </div>
           </div> <!-- END Page block  -->
           
           <!-- Page block content  -->
           <div class="page-block page-block-bottom cream-bg grid-container">
               <div class="sidebar-shadow push-25"></div> 
               <!-- Sidebar  --> 
               <div class="sidebar grid-25 cream-gradient transition-all" id="sidebar-mobile">
   
			   <div class="margin-bottom"></div>

                    <!-- Category submenu box -->
                    <div class="sidebar-box sidebar-top cream-gradient">
                        <nav class="submenu">
                            <ul class="expandable-menu">
                                <li class="align-right back">
                                    <a href="#sidebar-mobile" class="dark-color active-hover click-slide"><i class="icon-chevron-right"></i></a>
                                </li>
                                <li class="expanded">
                                    <a href="#" class="dark-color active-hover selected">{$L['f_categories']}</a>
                                    <ul>
                                        <li>
                                            <a href="article.php" class="dark-color active-hover {if $row[typeid]==$typeid}selected{/if}"><b class="middle-color">&rsaquo;</b> {$L['all_articles']}</a>
                                        </li>
                                     {loop $type $row}
                                        <li>
                                            <a href="{$row[url]}" class="dark-color active-hover {if $row[typeid]==$typeid}selected{/if}"><b class="middle-color">&rsaquo;</b> {$row[typename]}</a>
                                        </li>
										{/loop}

                                    </ul>
                                </li>
                                <li class="sidebar-divider"></li>

                            </ul>
                        </nav>
                    </div><!-- END Category submenu box -->
                              
               </div><!-- END Sidebar  --> 
               <!-- Content  --> 
               <div class="content-with-sidebar grid-75">
                    
                    <div class="with-shadow grid-100 light-bg">
                        <div class="content-page grid-100">
                            <h1 class="active-color header-font with-border full">{$L['f_articles']}</h1>
                            {loop $articles $row}
                            <div class="blog-list clearfix">
                                <div class="blog-list-details grid-100 tablet-grid-100">
                                    <h2 class="blog-list-title">
                                        <a href="{$row[url]}" class="dark-color active-hover subheader-font">
                                            {$row[title]}
                                        </a>
                                    </h2>
                                    {if $row[sdescription]}<p>{$row[sdescription]}</p>{/if}
                                    
                                    <div class="blog-list-actions middle-color">
                                        <span class="hide-on-mobile">
                                            <span class="middle-color dark-hover px12">{$row[addtime]}</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <hr class="margin-bottom" />
                              {/loop}
                   <div class="grid-100">
                           {template page}
                   </div>
                        </div>
                    </div>
                    
               </div><!-- END Content  --> 
                   </div><!--  END INFO   -->       
       </section>
{template footer}