<!DOCTYPE html>
<!--[if IE 8 ]>    <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
    <head>
        <meta charset="{$charset}">
        <title>{$seo['title']}</title>
        <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1">
        <meta name="description" content="{$seo['description']}">
        <meta name="keywords" content="{$seo['keywords']}">
        <!-- Styles -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:400,700" type="text/css">
        <link rel="stylesheet" href="templates/{$CFG[tplname]}/style/unsemantic.css" type="text/css">
        <link rel="stylesheet" href="templates/{$CFG[tplname]}/style/responsive.css" type="text/css">
        <link rel="stylesheet" href="templates/{$CFG[tplname]}/style/font-awesome/css/font-awesome.min.css" type="text/css">
        <link rel="stylesheet" href="templates/{$CFG[tplname]}/js/juicy/css/juicy.css" type="text/css">
        <link rel="stylesheet" href="templates/{$CFG[tplname]}/js/juicy/css/themes/shoppie/style.css" type="text/css">
        <!--[if IE 7]>
        <link rel="stylesheet" href="templates/{$CFG[tplname]}/style/font-awesome/css/font-awesome-ie7.min.css">
        <![endif]-->
        <link rel="stylesheet" href="templates/{$CFG[tplname]}/style/colors/red.css" type="text/css">
        <link rel="stylesheet" href="templates/{$CFG[tplname]}/style/base.css" type="text/css">
        <link rel="stylesheet" href="templates/{$CFG[tplname]}/style/layout.css" type="text/css">
        <link rel="stylesheet" href="templates/{$CFG[tplname]}/style/pages/my-profile.css" type="text/css">
        <!-- Fav and touch icons -->
        <link rel="shortcut icon" href="favicon.ico">
        <link rel="apple-touch-icon-precomposed" sizes="120x120" href="images/ico/apple-touch-icon-precomposed.png">
        <!-- HTML5 Shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
        <script src="templates/{$CFG[tplname]}/js/html5shim.js"></script>
        <![endif]-->
    </head>
    <body class="body-background2 content-font dark-color">
    {template top}
        <section class="page-content">
            <!--  Page block  -->
            <div class="page-block page-block-top light-bg grid-container">
                <div class="breadcrumbs grid-100 middle-color">
                    <a href="index.php" class="dark-color active-hover">{$L['f_home']}</a>
                    <strong class="active-color">{$L['f_contacts']}</strong>
                </div>
            </div> <!-- END Page block  -->
			
            <!-- Page block content  -->
            <div class="page-block page-block-bottom cream-bg grid-container">
                <div class="sidebar-shadow push-25"></div>

                <!-- Sidebar  -->
                <div class="sidebar grid-25 cream-gradient transition-all" id="sidebar-mobile">
                    <!-- Sidebar submenu box -->
                    <div class="sidebar-box sidebar-top cream-gradient">
                        <nav class="submenu">
                            <ul class="expandable-menu">
                                <li class="align-right back">
                                    <a href="#sidebar-mobile" class="dark-color active-hover click-slide"><i class="icon-chevron-right"></i></a>
                                </li>
								{if !empty($CFG['mailspam'])}
                                <li>
                                    <a class="dark-color active-hover"><span title="E-mail">{$CFG['mailspam']}</span></a>
                                </li>
								{/if}
                                <li class="sidebar-divider"></li>
								{if !empty($CFG['phone'])}
                                <li>
                                    <a class="dark-color active-hover"><span title="{$L['phone']}">{$CFG['phone']}</span></a>
                                </li>
								{/if}
                                <li class="sidebar-divider"></li>
								{if !empty($CFG['icq'])}
                                <li>
                                    <a class="dark-color active-hover"><span title="Skype">{$CFG['icq']}</span></a>
                                </li>
								{/if}
                            </ul>
                        </nav>
                    </div><!-- END Sidebar submenu box -->
                </div><!-- END Sidebar  -->

 
               <!-- Content  --> 
               <div class="content-with-sidebar grid-75">
                    <form class="content-form margin-bottom" action="cont.php?act=cont" name="cont" method="POST" autocomplete="off" onsubmit="return check_submit();">
                       <div class="with-shadow grid-100 light-bg margin-bottom clearfix">
                            <div class="content-page grid-100">
                                <h2 class="bigger-header with-border subheader-font">
                                    {$L['f_contacts']}
                                </h2>
                                <div class="form-input">
                                    <label for="title" class="middle-color">{$L['theme']} <span class="active-color">*</span></label>
                                    <input type="text" class="text-input dark-color light-bg" name="title" id="title" />
                                </div>
								
                                <div class="form-input">
                                    <label for="content" class="middle-color">{$L['f_message']} <span class="active-color">*</span></label>
                                    <textarea class="textarea-input dark-color light-bg" name="content" id="content" placeholder="{$L['f_message_content']}"></textarea>
                                </div> 
								
								
                                <div class="form-input">
                                    <label for="surname" class="middle-color">{$L['your_name']} <span class="active-color">*</span></label>
                                    <input type="text" class="text-input dark-color light-bg" name="surname" id="surname" placeholder="{$L['your_name']}" value="{$membersurname}"/>
                                </div>
								
                                <div class="form-input">
                                    <label for="membermail" class="middle-color">E-mail <span class="active-color">*</span></label>
                                    <input type="text" class="text-input dark-color light-bg" name="membermail" id="membermail" value="{$membermail}"/>
                                </div>
								
                                <div class="form-input">
                                    <label for="answer" class="middle-color">{$L['f_answer_question']} <span class="active-color">*</span></label>
                                    <input type="text" class="text-input dark-color light-bg" style="width:200px;" name="answer" id="answer" placeholder="{$L['f_enter_answer_question']}"/>
									<input type="hidden" id="vid" name="vid" value="{$verf[vid]}" />
									<p class="middle-color"><span class="f_b f_red">{$verf[question]}</span></p>
                                </div>

                            </div>
                        </div>

                        <div class="form-submit">
						  <input type="submit" class="button-normal active-gradient light-color dark-gradient-hover" name="submit" value="{$L['send']}" />
						  <input name="button" type="button" class="button-normal uppercase light-color middle-gradient dark-gradient-hover" onclick="history.back()" value="{$L['f_history_back']}" />
                        </div>    
                    </form>
               </div><!-- END Content  --> 
               
           </div> <!-- END Page block  -->
                    
       </section>
<script type="text/javascript">
function check_submit()
{
	if(document.cont.title.value==""){
		alert('{$L['enter_theme']}');
		document.cont.title.focus();
		return false;
	}
	
	if(document.cont.content.value==""){
		alert('{$L['enter_content_message']}');
		document.cont.content.focus();
		return false;
	}
	
	if(document.cont.surname.value==""){
		alert('{$L['enter_your_name']}');
		document.cont.surname.focus();
		return false;
	}
	
	if(document.cont.membermail.value==""){
		alert('{$L['email_empty']}');
		document.cont.membermail.focus();
		return false;
	}

	if(document.cont.answer.value==""){
		alert('{$L['f_enter_answer_question']}');
		document.cont.answer.focus();
		return false;
	}
}
</script>
{template footer}