<!DOCTYPE html>
<!--[if IE 8 ]>    <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
    <head>
        <meta charset="{$charset}">
        <title>{$seo['title']}</title>
        <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1">
        <meta name="description" content="{$seo['description']}">
        <meta name="keywords" content="{$seo['keywords']}">
        <!-- Styles -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:400,700" type="text/css">
        <link rel="stylesheet" href="templates/{$CFG[tplname]}/style/unsemantic.css" type="text/css">
        <link rel="stylesheet" href="templates/{$CFG[tplname]}/style/responsive.css" type="text/css">
        <link rel="stylesheet" href="templates/{$CFG[tplname]}/style/font-awesome/css/font-awesome.min.css" type="text/css">
        <link rel="stylesheet" href="templates/{$CFG[tplname]}/js/juicy/css/juicy.css" type="text/css">
        <link rel="stylesheet" href="templates/{$CFG[tplname]}/js/juicy/css/themes/shoppie/style.css" type="text/css">
        <!--[if IE 7]>
        <link rel="stylesheet" href="templates/{$CFG[tplname]}/style/font-awesome/css/font-awesome-ie7.min.css">
        <![endif]-->
        <link rel="stylesheet" href="templates/{$CFG[tplname]}/style/colors/red.css" type="text/css">
        <link rel="stylesheet" href="templates/{$CFG[tplname]}/style/base.css" type="text/css">
        <link rel="stylesheet" href="templates/{$CFG[tplname]}/style/layout.css" type="text/css">
        <link rel="stylesheet" href="templates/{$CFG[tplname]}/style/pages/my-profile.css" type="text/css">
        <!-- Fav and touch icons -->
        <link rel="shortcut icon" href="favicon.ico">
        <link rel="apple-touch-icon-precomposed" sizes="120x120" href="images/ico/apple-touch-icon-precomposed.png">
        <!-- HTML5 Shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
        <script src="templates/{$CFG[tplname]}/js/html5shim.js"></script>
        <![endif]-->
    </head>
    <body class="body-background2 content-font dark-color">
    {template top}
        <section class="page-content">
            <!--  Page block  -->
            <div class="page-block page-block-top light-bg grid-container">
                <div class="breadcrumbs grid-100 middle-color">
                    <a href="index.php" class="dark-color active-hover">{$L['f_home']}</a>
                   <a href="member.php" class="dark-color active-hover">{$L['f_control_panel']}</a>
                    <strong class="active-color">{$L['payment_status']}</strong>
                </div>
            </div> <!-- END Page block  -->
            <!-- Page block content  -->
            <div class="page-block page-block-bottom cream-bg grid-container">
                <div class="sidebar-shadow push-25"></div>
					{template member_left}
 
               <div class="content-with-sidebar grid-75">
                        <div class="with-shadow grid-100 light-bg margin-bottom clearfix">
                            <div class="content-page grid-100">
                                <h2 class="bigger-header with-border subheader-font">
                                    {$L['payment_status']}
                                </h2>
               <!-- Content  --> 
                   <div class="with-shadow grid-100 light-bg margin-bottom">
                       <div class="content-page grid-100">
			<table class="margin-bottom">
          {if $charge_status == 2}
				<tr>
					<td><span class="alert alert-error">{$L['payment_status_0']}<br/>{$L['error_code']}: <strong class="f_blue">{$charge_errcode}</strong></span></td>
				</tr>
         {elseif $charge_status == 1}
				<tr>
					<td><span class="alert alert-success">{$L['payment_status_successful']}: <span class="f_b px18 f_red">{$charge_amount} {$CFG['currency']}</span><br/><span class="f_b px14 f_gray">{$L['transaction_id']}: {$charge_orderid}</span></span>
					</td>
				</tr>
        {elseif $charge_status == 3}
				<tr>
					<td><span class="alert alert-info">
		<span class="tr f_gray f_b px18">{$L['waiting_for_processing']}</span><br/>
		<a class="dark-color active-hover px16" href="" onclick="window.location.reload(true);">{$L['reload_page']}</a>
		<meta http-equiv="refresh" content="10"> 
					</span></td>
				</tr>
         {else}
		 
				<tr>
					<td><span class="alert alert-info">{$L['payment_status_none']}</span></span></td>
				</tr>
		{/if}
	         </table>
                        </div>  
				<div class="topmargin5"></div> 
				</div>
				 </div>　
					</div>
			</div>
			</div>
			</div>
       </section>	
{template footer}