<meta http-equiv="Content-Type" content="text/html; charset={$charset}" />
<!DOCTYPE html>
<!--[if IE 8 ]>    <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
    <head>
        <meta charset="{$charset}">
        <title>{$seo['title']}</title>
        <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1">
        <meta name="description" content="{$seo['description']}">
        <meta name="keywords" content="{$seo['keywords']}">
        <!-- Styles -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:400,700" type="text/css">
        <link rel="stylesheet" href="templates/{$CFG[tplname]}/style/unsemantic.css" type="text/css">
        <link rel="stylesheet" href="templates/{$CFG[tplname]}/style/responsive.css" type="text/css">
        <link rel="stylesheet" href="templates/{$CFG[tplname]}/style/font-awesome/css/font-awesome.min.css" type="text/css">
        <link rel="stylesheet" href="templates/{$CFG[tplname]}/js/juicy/css/juicy.css" type="text/css">
        <link rel="stylesheet" href="templates/{$CFG[tplname]}/js/juicy/css/themes/shoppie/style.css" type="text/css">
        <!--[if IE 7]>
        <link rel="stylesheet" href="templates/{$CFG[tplname]}/style/font-awesome/css/font-awesome-ie7.min.css">
        <![endif]-->
        <link rel="stylesheet" href="templates/{$CFG[tplname]}/style/colors/red.css" type="text/css">
        <link rel="stylesheet" href="templates/{$CFG[tplname]}/style/base.css" type="text/css">
        <link rel="stylesheet" href="templates/{$CFG[tplname]}/style/layout.css" type="text/css">
        <link rel="stylesheet" href="templates/{$CFG[tplname]}/style/pages/my-profile.css" type="text/css">
        <!-- Fav and touch icons -->
        <link rel="shortcut icon" href="favicon.ico">
        <link rel="apple-touch-icon-precomposed" sizes="120x120" href="images/ico/apple-touch-icon-precomposed.png">
        <!-- HTML5 Shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
        <script src="templates/{$CFG[tplname]}/js/html5shim.js"></script>
        <![endif]-->
    </head>
    <body class="body-background2 content-font dark-color">
    {template top}
        <section class="page-content">
            <!--  Page block  -->
            <div class="page-block page-block-top light-bg grid-container">
                <div class="breadcrumbs grid-100 middle-color">
                    <a href="index.php" class="dark-color active-hover">{$L['f_home']}</a>
                    <strong class="active-color">{$L['changing_password']}</strong>
                </div>
            </div> <!-- END Page block  -->

            <!-- Page block content  -->
            <div class="page-block page-block-bottom cream-bg grid-container">
                <div class="sidebar-shadow push-25"></div>
					{template member_left}
               <!-- Content  --> 
               <div class="content-with-sidebar grid-75">
                    <form class="content-form margin-bottom" action="member.php" name="respass" method="POST" autocomplete="off" onsubmit="return check_submit();">
                       <div class="with-shadow grid-100 light-bg margin-bottom clearfix">
                            <div class="content-page grid-100">
                                <h2 class="bigger-header with-border subheader-font">
                                    {$L['changing_password']}
                                </h2>
                                <div class="form-input">
                                    <label for="new_password" class="middle-color">{$L['new_password']} <span class="active-color">*</span></label>
                                    <input type="password" class="text-input dark-color light-bg" name="new_password" id="new_password" />
                                </div>
                                <div class="form-input">
                                    <label for="confirm_password" class="middle-color">{$L['new_password_again']} <span class="active-color">*</span></label>
                                    <input type="password" class="text-input dark-color light-bg" name="confirm_password" id="confirm_password" />
                                </div>
								
                            </div>
                        </div>

                        <div class="form-submit">
						  <input type="submit" class="button-normal active-gradient light-color dark-gradient-hover" name="submit" value="{$L['change']}" />
						<input type="hidden" name="act" value="email_edit_password" />
						<input type="hidden" name="userid" value="{$userid}" />
						<input type="hidden" name="code" value="{$code}" />
                        </div>    
                    </form>
               </div><!-- END Content  --> 
               
           </div> <!-- END Page block  -->
                    
       </section>
<script type="text/javascript">
function check_submit()
{
	if(document.respass.new_password.value==""){
		alert('{$L['new_password_empty']}');
		document.respass.new_password.focus();
		return false;
	}
	if(document.respass.confirm_password.value==""){
		alert('{$L['new_password_again_empty']}');
		document.respass.confirm_password.focus();
		return false;
	}

}
</script>
{template footer}