	<div class="navi-functions">
		<div class="btn-group btn-group-custom">
			<a href="#" class="button button-square layout-not-fixed notify" rel="tooltip" title="<? echo $L['fixing_navigation']; ?>" data-notify-message="<? echo $L['fixing_navigation_status']; ?> {{state}}" data-notify-title="<? echo $L['done']; ?>">
				<i class="icon-unlock"></i>
			</a>
			<a href="#" class="button button-square layout-not-fluid notify button-active" rel="tooltip" title="<? echo $L['reduce_window']; ?>" data-notify-message="<? echo $L['reduce_window_status']; ?> {{state}}" data-notify-title="<? echo $L['done']; ?>">
				<i class="icon-exchange"></i>
			</a>
			<a href="#" class="button button-square notify notify-inverse layout-no-nav" rel="tooltip" title="<? echo $L['hide_navigation']; ?>" data-notify-message="<? echo $L['fixing_navigation_status']; ?> {{state}}" data-notify-title="<? echo $L['done']; ?>">
				<i class="icon-arrow-left"></i>
			</a>

		</div>
	</div>
</body>
</html>